.header-container {
  .top-link {
    a {
      color: inherit;
      line-height: 38px;
      svg {
        vertical-align: text-top;
      }
    }
  }
  .header-route {
    li {
      height: 100%;
      position: relative;
      padding-right: 25px;
      margin-right: 25px;
      display: flex;
      align-items: center;
      cursor: pointer;
      a {
        color: inherit;
      }
      .li-dropdown {
        display: flex;
        align-items: center;
      }
      @media screen and (min-width: 970px) {
        &:hover {
          color: #4ab3fd;
          &:after {
            width: calc(100% - 25px);
          }
        }
        &:after {
          content: " ";
          position: absolute;
          left: 0;
          bottom: 1px;
          width: 0;
          height: 2px;
          background-color: #4ab3fd;
          transition: width 0.5s ease;
        }
        &:last-child {
          &::before {
            width: 0;
          }
        }
      }
    }
  }
  @media screen and (max-width: 970px) {
    .header-link {
      background: #000;
      position: fixed;
      top: 64px;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 2000;
      .header-route {
        min-height: calc(100vh - 450px);
        margin-bottom: 20px;
        li {
          padding: 16px 48px;
          font-size: 1.8rem;
        }
      }
    }
  }
  .btn-container {
    button {
      border-radius: 22px;
      min-height: 40px;
      max-height: 50px;
      min-width: 120px;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      // &:first-child::before {
      //   content: " ";
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   right: 0;
      //   bottom: 0;
      //   width: 100%;
      //   width: 0;
      //   background: #fff;
      // }
      // &:hover {
      //   &:first-child::before {
      //     content: " ";
      //     color: #333;
      //     transition: all 0.3s ease-in-out;
      //     width: 100%;
      //   }
      // }
    }
  }
  @media screen and (max-width: 970px) {
    .btn-container {
      text-align: center;
      padding: 16px 48px;
      button {
        width: 90%;
        margin-bottom: 12px;
        padding: 12px 48px;
        height: 100%;
      }
    }
  }
}

//导航的偷懒放一起吧
.footer-ul {
  li {
    margin-left: 50px;
    &:nth-child(3) {
      min-width: 178px;
    }
    &:last-child {
      p:nth-child(3) {
        font-size: 20px;
      }
    }
    p {
      line-height: 50px;
    }
  }
}
