.details-common {
  padding-left: 140px;
  padding-right: 45px;
  @media screen and (max-width: 970px) {
    padding-left: 0;
    padding-right: 0;
  }
}
.Details-Top {
  justify-content: center;
  display: grid;
  .top {
    width: 60.3rem;
    height: 11.4rem;
    background: #1c1c3a;
    border: 2px solid #42404b;
    border-radius: 1rem;
    .lable-st {
      font-size: 3.2rem;
      color: #ffffff;
      line-height: 6.6rem;
    }
    .lable-nd {
      font-size: 2.1rem;
      color: #868686;
      line-height: 2rem;
    }
  }
}
.Details-Con {
  display: flex;
  // gap: 50px;
  .cont-left {
    border-radius: 18px;
    width: 31rem;
    height: 31rem;
    overflow: hidden;
    margin-right: 40px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .cont-right {
    flex: 1;
    font-size: 2.5rem;
    .tit {
      color: #ffffff;
      font-size: 3.3rem;
    }
    .infos {
      .item {
        display: flex;
        justify-content: space-between;
        margin: 0.8rem 0;
        .label {
          color: #868686;
          width: 42%;
        }
        .radius-box {
          display: flex;
          .radius {
            width: 2.8rem;
            height: 2.9rem;
            margin-left: 2px;
            border-radius: 3px;
            border: 2px solid #00d2ff;
          }
        }
      }
    }
  }

  @media screen and (max-width: 970px) {
    display: block;
    margin-top: -15px;
    .cont-left {
      width: 100%;
      height: 12.6rem;
      margin-right: 0;
      text-align: center;
      .avatar-box {
        width: 12.6rem;
        display: inline-block;
        overflow: hidden;
        border-radius: 10px;
      }
    }
    .cont-right {
      font-size: 1.6rem;
      .tit {
        text-align: center;
        font-size: 1.5rem;
        margin-top: 5px;
      }
    }
  }
}
.btn-click {
  display: flex;
  justify-content: flex-end;
  .btn-inner {
    border-radius: 5rem;
    height: 5rem;
  }
  .TextBox {
    width: 28rem;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-right: 10px;
    .Text {
      .label1 {
        font-size: 3rem;
      }
      .label2 {
        font-size: 2.5rem;
        color: #868686;
      }
    }
  }
  .BuyNow {
    width: 25.8rem;
    font-size: 2.6rem;
    color: #fefffe;
    border: 1px solid transparent;
  }
  @media screen and (max-width: 970px) {
    .btn-inner {
      height: 3rem;
      border-radius: 15px;
      font-size: 1.6rem;
      width: 16.8rem;
      .Text .label1 {
        font-size: 2rem;
      }
    }
  }
}
.Details-Menu {
  display: flex;
  align-items: flex-end;
  height: 9rem;
  .Menu {
    font-size: 2.2rem;
    line-height: 3rem;
    text-align: center;
    margin-right: 20px;
    cursor: pointer;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: transparent;
    color: #b2b2b2;
    padding: 5px 0;
    &.active {
      color: #ffffff;
      border-bottom-color: #4ab3fd;
    }
  }
  @media screen and (max-width: 970px) {
    .Menu {
      font-size: 1.4rem;
    }
  }
}
.Details-FAMILYTREE {
  width: 100%;
  min-height: 26.2rem;
  .item1,
  .item2 {
    display: flex;
    margin: 3rem 0;
    .tit {
      font-size: 2.6rem;
      color: #a7a7a9;
      min-width: 16%;
      align-items: center;
      display: grid;
    }
    .cont {
      display: flex;
      .ite {
        margin-right: 5rem;
        text-align: center;
        .img {
          width: 7.5rem;
          height: 7.5rem;
          border-radius: 8px;
        }
        .lab {
          font-size: 2rem;
          color: #fff;
        }
      }
    }
  }
  @media screen and (max-width: 970px) {
    .item1,
    .item2 {
      .tit {
        font-size: 1.7rem;
        min-width: 30%;
      }
      .cont {
        .ite {
          margin-right: 10px;
          .img {
            width: 4.8rem;
            height: 4.8rem;
          }
          .lab {
            font-size: 1.3rem;
          }
        }
      }
    }
  }
}
.Details-SALEHISTORY {
  .item-cont {
    display: flex;
    border-bottom: 1px solid #333;
    padding: 2rem 0;
  }
  .item-title {
    color: #939393;
  }
  .titl {
    font-size: 2.2rem;
    text-align: center;
    &:nth-child(1) {
      min-width: 35%;
    }
    &:nth-child(2) {
      min-width: 35%;
    }
    &:nth-child(3) {
      min-width: 14%;
    }
    &:nth-child(4) {
      min-width: 16%;
    }
    .star {
      width: 2rem;
      height: 2rem;
      margin-left: 5px;
    }
  }
  @media screen and (max-width: 970px) {
    .titl {
      font-size: 9px;
    }
    .item-cont {
      padding: 10px 0;
    }
  }
}
