.details-common {
  padding-top: 40px;
  @media screen and (max-width: 970px) {
    padding-top: 20px;
  }
}
.Details-Top {
  justify-content: center;
  display: grid;
  .top {
    width: 60.3rem;
    height: 11.4rem;
    background: #1c1c3a;
    border: 2px solid #42404b;
    border-radius: 1rem;
    .lable-st {
      font-size: 3.2rem;
      color: #ffffff;
      line-height: 6.6rem;
    }
    .lable-nd {
      font-size: 2.1rem;
      color: #868686;
      line-height: 2rem;
    }
  }
}
.Details-Con {
  display: flex;
  .cont-left {
    margin-right: 40px;
    .avatar-box {
      width: 350px;
      height: 350px;
      border-radius: 10px;
      background-image: url("./img/nft-detail-avatar-bg.jpg");
      background-repeat: no-repeat;
      background-position: top center;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        max-width: 208px;
      }
    }
  }
  .cont-right {
    flex: 1;
    .infos {
      display: flex;
      flex-wrap: wrap;
      .item {
        position: relative;
        height: 40px;
        min-width: 164px;
        display: flex;
        align-items: center;
        background-color: #ededed;
        border-radius: 20px;
        font-size: 20px;
        padding: 10px 20px 10px 37px;
        margin-right: 12px;
        margin-bottom: 10px;
        &::before {
          content: "";
          width: 7px;
          height: 7px;
          background-color: #4ab3fd;
          border-radius: 50%;
          position: absolute;
          left: 17px;
          top: 50%;
          transform: translateY(-50%);
        }
        .label {
          position: relative;
          padding-right: 16px;
          &::before {
            content: "";
            width: 1px;
            height: 11px;
            background-color: #5e5e5e;
            position: absolute;
            right: 8px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
        .num {
          color: #5e5e5e;
          font-family: ftn55;
        }
      }
    }
  }

  @media screen and (max-width: 970px) {
    display: block;
    margin-top: -15px;
    .cont-left {
      width: 100%;
      height: 12.6rem;
      margin-right: 0;
      text-align: center;
      .avatar-box {
        width: 12.6rem;
        display: inline-block;
        overflow: hidden;
        border-radius: 10px;
      }
    }
    .cont-right {
      font-size: 1.6rem;
      .tit {
        text-align: center;
        font-size: 1.5rem;
        margin-top: 5px;
      }
    }
  }
}

.Details-Menu {
  display: flex;
  align-items: flex-end;
  .Menu {
    font-size: 2.2rem;
    line-height: 3rem;
    text-align: center;
    margin-right: 20px;
    cursor: pointer;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: transparent;
    padding: 2px 0;
    margin-bottom: -2px;
    &.active {
      border-bottom-color: #27a0f8;
    }
  }
  @media screen and (max-width: 970px) {
    .Menu {
      font-size: 1.4rem;
    }
  }
}
.Details-FAMILYTREE {
  width: 100%;
  min-height: 26.2rem;
  .item1,
  .item2 {
    display: flex;
    margin: 3rem 0;
    .tit {
      font-size: 2.6rem;
      min-width: 16%;
      align-items: center;
      display: grid;
    }
    .cont {
      display: flex;
      .ite {
        margin-right: 5rem;
        text-align: center;
        .img {
          width: 7.5rem;
          height: 7.5rem;
          border-radius: 8px;
        }
        .lab {
          font-size: 2rem;
          color: #fff;
        }
      }
    }
  }
  @media screen and (max-width: 970px) {
    .item1,
    .item2 {
      .tit {
        font-size: 1.7rem;
        min-width: 30%;
      }
      .cont {
        .ite {
          margin-right: 10px;
          .img {
            width: 4.8rem;
            height: 4.8rem;
          }
          .lab {
            font-size: 1.3rem;
          }
        }
      }
    }
  }
}
.Details-SALEHISTORY {
  .item-cont {
    display: flex;
    border-bottom: 1px solid #dddddd;
    padding: 15px 0;
  }
  .item-title {
    color: #979797;
  }
  .titl {
    font-size: 18px;
    text-align: center;
    &:nth-child(1) {
      min-width: 35%;
    }
    &:nth-child(2) {
      min-width: 35%;
    }
    &:nth-child(3) {
      min-width: 14%;
    }
    &:nth-child(4) {
      min-width: 16%;
    }
    .star {
      width: 2rem;
      height: 2rem;
      margin-left: 5px;
    }
  }
  @media screen and (max-width: 970px) {
    .titl {
      font-size: 9px;
    }
    .item-cont {
      padding: 10px 0;
    }
  }
}
