.countdown {
  .unit {
    display: flex;
    flex-direction: column;
    align-items: center;
    .num {
      font-size: 54px;
    }
    .txt {
      font-size: 15px;
      margin-right: 10px;
    }
    &:last-child {
      .txt {
        margin-right: 0;
      }
    }
  }
  @media screen and (max-width: 970px) {
    .unit {
      .txt {
        margin-right: 5px;
      }
      .num {
        font-size: 36px;
      }
    }
  }
}
